language: php

cache:
  apt: true
  directories:
    - $HOME/.composer/cache

addons:
  apt:
    packages:
      - php-curl

env:
  global:
    - setup=basic
    - coverage=false

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

before_script:
  - composer self-update

install:
  - composer install

script:
  - composer phpunit

after_success:
  - bash <(curl -s https://codecov.io/bash)

